<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>controller</key>
			<string>HMTestViewController</string>
			<key>type</key>
			<string>0</string>
			<key>title</key>
			<string>推送提醒</string>
			<key>icon</key>
			<string>handShake</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>推送提醒</string>
			<key>controller</key>
			<string>HMTestViewController</string>
			<key>type</key>
			<string>1</string>
			<key>icon</key>
			<string>handShake</string>
		</dict>
		<dict>
			<key>title</key>
			<string>推送提醒</string>
			<key>icon</key>
			<string>handShake</string>
		</dict>
		<dict>
			<key>title</key>
			<string>推送提醒</string>
			<key>icon</key>
			<string>handShake</string>
		</dict>
		<dict>
			<key>title</key>
			<string>推送提醒</string>
			<key>icon</key>
			<string>handShake</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>推送提醒</string>
			<key>icon</key>
			<string>handShake</string>
		</dict>
		<dict>
			<key>title</key>
			<string>推送提醒</string>
			<key>icon</key>
			<string>handShake</string>
		</dict>
		<dict>
			<key>title</key>
			<string>推送提醒</string>
			<key>icon</key>
			<string>handShake</string>
		</dict>
		<dict>
			<key>title</key>
			<string>推送提醒</string>
			<key>icon</key>
			<string>handShake</string>
		</dict>
		<dict>
			<key>title</key>
			<string>推送提醒</string>
			<key>icon</key>
			<string>handShake</string>
		</dict>
	</array>
</array>
</plist>
